{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>오늘 뭐 먹지? - {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    {% block header %} {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="{% url 'index' %}">오늘 뭐 먹지?</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          {% if user.is_authenticated %}

          <li class="nav-item active"> {{ request.user }} 님 환영합니다! </li>

          {% else %}


          <li class="nav-item active"> 로그인을 해주세요~  </li>


          {% endif %}
      </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">기능1</a>
      </li>

        {% if user.is_authenticated %}

        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">로그인</a>
        </li>
        {% endif %}


      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
      </li>

    </ul>
  </div>
</nav>

<form action="{% url 'restaurant:view_restaurant' %}" class="searchform cf" method="POST">
    {% csrf_token %}
  <input type="text" name="search_word" placeholder="맛집을 검색할 위치를 입력해주세요">
  <button type="submit">Search</button>
</form>






{% block content %}




{% endblock %}


</body>
</html>