{% extends 'base.html' %}
{% load static %}

{% block title %} 오늘 뭐먹지? {% endblock %}


{% block header %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        {% for shop in result_list %}
        <div class="card mb-5 col-sm-4" style="max-width: 540px;">
            <div class="row gutters">
                <div class="col-md-4 card-image">
                    <img src="https://www.menupan.com{{ shop.src }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ shop.title }}</h5>


                    </div>


                </div>
                <div class="card-body">
                    <p class="card-text"><b>카테고리 : </b> {{ shop.category }}</p>
                    <p class="card-text"><b>메뉴 : </b>{{ shop.menu }} </p>
                    <p class="card-text"><b>주소 : </b>{{ shop.address }} </p>
                    <p class="card-text"><b>전화번호 : </b>{{ shop.tel }} </p>
                </div>
                <div class="ml-auto mr-auto">
                    <a href="https://www.menupan.com{{ shop.link }}" target="_blank"
                       class="btn btn-primary">더보기</a>

                    <form class="inline-form" action="{% url 'restaurant:bookmark' %}" method="POST">
                        {% csrf_token %}
                        <input name="title" type="hidden" value="{{ shop.title }}">
                        <input name="category" type="hidden" value="{{ shop.category }}">
                        <input name="menu" type="hidden" value="{{ shop.menu }}">
                        <input name="address" type="hidden" value="{{ shop.address }}">
                        <input name="tel" type="hidden" value="{{ shop.tel }}">
                        <input name="image" type="hidden" value="{{ shop.src }}">
                        <input name="link" type="hidden" value="{{ shop.link }}">
                        <button type="submit" class="btn btn-outline-primary">즐겨찾기</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if search_word %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <form method="POST" action="{% url 'restaurant:view_restaurant' page=1 %}">
            {% csrf_token %}
            <input type="hidden" name="search_word" value="{{ search_word }}">
            <button type="submit">1</button>
        </form>
        <form method="POST" action="{% url 'restaurant:view_restaurant' page=2 %}">
            {% csrf_token %}
            <input type="hidden" name="search_word" value="{{ search_word }}">
            <button type="submit">2</button>
        </form>
        <form method="POST" action="{% url 'restaurant:view_restaurant' page=3 %}">
            {% csrf_token %}
            <input type="hidden" name="search_word" value="{{ search_word }}">
            <button type="submit">3</button>
        </form>
    </ul>
</nav>
{% endif %}
{% endblock %}